body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    background-color: rgba(152, 184, 39, 0.247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-width: 500px;
    min-height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}

.inputs-container{
    text-align: center;
}

.input-bar{
    background-color: #fff;
    padding: 2px 7px 2px 2px;
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
}

.input-face{
    position: relative;
    top: 4px;
    text-align: center;
    background-color: white;
    font-size: 1.5rem;
}

.fa-face-frown{
    color:red;
}

.fa-face-smile{
    color:green;
}

.inputfield{
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#login-btn{
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #fa800d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #8b8b8b;
    transition: all 0.2s;
}

#login-btn:hover {background-color: #67c56a}

#login-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .bottom-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .bottom-link{
    margin: 0 15px;
    padding: 5px 15px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #fa800d;
    border: none;
    border-radius: 9px;
    box-shadow: 0 9px #8b8b8b;
    transition: all 0.2s;
  }

  .bottom-link:hover {background-color: #67c56a}

  .bottom-link:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.hidden{
    display: none;
}

.fa-dice:hover{
    color: #666;
    cursor: grab;
}

.fa-dice:active{
    cursor: grabbing;
}