body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "DynaPuff", serif;;
}

.login-container{
    background: linear-gradient(160deg, #ffcb5a 0%, #feffcc 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-width: 500px;
    min-height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}

.inputs-container{
    text-align: center;
}

.input-bar{
    background-color: #ffffff;
    padding: 2px 7px 2px 2px;
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
}

.input-face{
    position: relative;
    top: 4px;
    text-align: center;
    background-color: transparent;
    font-size: 1.5rem;
}

.fa-face-frown{
    color:red;
}

.fa-face-smile{
    color:green;
}

.inputfield{
    background-color: transparent;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#login-btn{
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: linear-gradient(180deg, #ffcb5a 0%, #ff9900 100%);
    border: solid 2px rgb(73, 73, 73);
    border-radius: 25px;
    box-shadow: 0 9px #8b8b8bc0;
    transition: all 0.2s;
}

#login-btn:hover {
    background: linear-gradient(180deg, #67c56a 0%, #02be09 100%);
}

#login-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bottom-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom-link{
    margin: 0 15px;
    padding: 5px 15px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: linear-gradient(180deg, #ffcb5a 0%, #ff9900 100%);
    border: solid 2px rgb(73, 73, 73);
    border-radius: 25px;
    box-shadow: 0 9px #8b8b8bc0;
    transition: all 0.2s;
}

.bottom-link:hover{
    background: linear-gradient(180deg, #67c56a 0%, #02be09 100%);
}

.bottom-link:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hidden{
    display: none;
}

.fa-dice:hover{
    color: #666;
    cursor: grab;
}

.fa-dice:active{
    cursor: grabbing;
}