.mainmenu-container{
    background-color: #18b9ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: "Cherry Bomb One", serif;
    font-size: 4rem;
    letter-spacing: 3px;
    margin: 0;
    color: #ffcb5a;
    text-shadow: -1px 10px 0 #1a1a1ac5, 3px 3px 0 #1a1a1ac5, 1px -2px 0 #000, -2px -2px 0 #000;
}

.title-snake{
    position: relative;
    top: -25px
}

.bigger-letter{
    font-size: 5rem;
    position: relative;
    top: 12px;
}   

.letter-left{
    left: -1px;
}

.letter-right{
    right: -1px;
}

.mainMenu-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBtn{
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: linear-gradient(180deg, #ffcb5a 0%, #ff9900 100%);
    border: solid 2px rgb(73, 73, 73);
    border-radius: 25px;
    box-shadow: 0 9px #707070c0;
    transition: all 0.2s;
}
    
#start-btn:hover, #options-btn:hover, #change-btn:hover {
    background: linear-gradient(180deg, #67c56a 0%, #02be09 100%);
}

#exit-btn:hover {
    background: linear-gradient(180deg, #f85a5a 0%, #ff0000 100%);
}

.menuBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#change-btn, #exit-btn{
    font-size: 13px;
    margin-left: 10px;
}